
[markdown]

Protos is an open source Web Application Framework, focused on high performance, integration, ease of 
deployment, maintainability and security. Runs on UNIX-like systems such as **Linux** & **Mac OSX**.

## Features at a Glance

- Powerful Routing & Validation
- Controller Authentication & Route Filters
- REST Compliant
- Environment based Configuration
- Fast Configuration with bootstrap file
- Multi Core Cluster support
- Easy Deployment
- MongoDB, MySQL, Redis & RabbitMQ Development Stack
- View Helpers
- Models, supporting ORM & Relationships
- Database Drivers & Storages
- Query Caching for Drivers & Models
- Multiple Template Engines
- View Partials
- JSON Responses
- Proxy Server for Multiple Applications
- Node Inspector for debugging
- Command Line Executable to create & manage apps
- Organized Directory Structure
- Includes complete test suite

## Middleware

- [asset_compiler](http://derdesign.github.com/protos/middleware#asset_compiler) &nbsp; *Compiles LESS, Stylus and CoffeeScript. Supports watch/compress/minify*
- [aws](http://derdesign.github.com/protos/middleware#aws) &nbsp; *Amazon Web Services. Provides clients to all services (ES3, EC2, etc)*
- [bcrypt](http://derdesign.github.com/protos/middleware#bcrypt) &nbsp; *Blowfish hashing*
- [body_parser](http://derdesign.github.com/protos/middleware#body_parser) &nbsp; *Allows Parsing of POST & PUT requests & file uploads*
- [cookie_parser](http://derdesign.github.com/protos/middleware#cookie_parser) &nbsp; *Cookie Parsing*
- [csrf](http://derdesign.github.com/protos/middleware#csrf) &nbsp; *CSRF Protection*
- [logger](http://derdesign.github.com/protos/middleware#logger) &nbsp; *Logger. Supported transports: MongoDB, Redis, File & console*
- [mailer](http://derdesign.github.com/protos/middleware#mailer) &nbsp; *Mailer. Supports SMTP, SES or Sendmail*
- [ markdown ](http://derdesign.github.com/protos/middleware#markdown) &nbsp; *Markdown Parser*
- [response_cache](http://derdesign.github.com/protos/middleware#response_cache) &nbsp; *Response Caching*
- [session](http://derdesign.github.com/protos/middleware#session) &nbsp; *Sessions Support*
- [shortcode](http://derdesign.github.com/protos/middleware#shortcode) &nbsp; *Wordpress-like shortcodes*
- [socket_io](http://derdesign.github.com/protos/middleware#socket_io) &nbsp; *Socket.io integration*
- [static_server](http://derdesign.github.com/protos/middleware#static_server) &nbsp; *Static Server. Supports ranges, Conditional GETs*
- [repl](http://derdesign.github.com/protos/middleware#repl) &nbsp; *Appliction Runtime REPL*
- [mq](http://derdesign.github.com/protos/middleware#mq) &nbsp; *Message Queue using RabbitMQ*

## Template Engines

- [CoffeeKup](https://github.com/mauricemach/coffeekup)
- [DoT](https://github.com/olado/doT)
- [Eco](https://github.com/sstephenson/eco)
- [EJS](https://github.com/visionmedia/ejs)
- [Haml](https://github.com/visionmedia/haml.js)
- [Haml-Coffee](https://github.com/9elements/haml-coffee)
- [Handlebars](https://github.com/wycats/handlebars.js)
- [Hogan.js](https://github.com/twitter/hogan.js)
- [Jade](https://github.com/visionmedia/jade)
- [Jazz](https://github.com/shinetech/jazz)
- [JQuery Templates](https://github.com/kof/node-jqtpl)
- [JSHtml](https://github.com/LuvDaSun/jshtml)
- [Kernel](https://github.com/c9/kernel)
- [Liquor](https://github.com/chjj/liquor)
- [Swig](https://github.com/paularmstrong/swig)
- [Whiskers](https://github.com/gsf/whiskers.js/tree)

[/markdown]
